@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");

* {
  font-family: "Kumbh Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#226b80, #35b0ab);
  width: 100vw;
  height: 100vh;
}
